.clearance {
    border: 2px solid goldenrod;
    background-color: lightgoldenrodyellow;
}

td {
    vertical-align: middle;
}


.custom-btn {
    color: #28a745; 
    background-color: #d4edda; 
    border-color: #d4edda; 
    padding: 3px 16px; 
    font-size: 16px; 
    border-radius: 4px; 
}

.custom-btn:hover {
    background-color: #9af3b0; 
    border-color: #52e073; 
    color: #109207; 
}


